<form [formGroup]="jokeFormGroup" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Joke text here</label>
    <textarea class="form-control" formControlName="jokeText" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Joke punchline here</label>
    <textarea class="form-control" formControlName="punchLineText" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Author</label>
    <input type="email" class="form-control" formControlName="author" id="exampleFormControlInput1">
  </div>
  <span></span>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
